.signfrm{
    position: relative;
    margin-top: 12%;
    margin-left: 20%;
    padding: 3%;
    padding-left: 10%;
    background: rgb(224, 117, 219);
    width: 50%;
    border: darkorchid 2px solid;
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
ul {
    list-style-type: none;
    margin-top: 4px;
  }