



<div class="ngx" >
    <carousel [isAnimated]="false" pauseOnFocus="false" showIndicators="true" ng-repeat="slide in slides">
      <slide>
      <img class="ngx_img" src="{{Slides.Slideimages[0]}}" alt="" style="display: block; width: 100%;" activeSlide>
      </slide>
      <slide>
      <img class="ngx_img" src="{{Slides.Slideimages[1]}}" alt="" style="display: block; width: 100%;">
      </slide>
      <slide>
      <img class="ngx_img" src="{{Slides.Slideimages[2]}}" alt="" style="display: block; width: 100%;">
      </slide>
      <slide>
      <img class="ngx_img" src="{{Slides.Slideimages[3]}}" alt="" style="display: block; width: 100%;">
      </slide>
      <!-- <slide>
      <img class="ngx_img" src="{{Slides.Slideimages[4]}}" alt="" style="display: block; width: 100%;">
      </slide> -->

    </carousel>
    </div>


