<div class="gaurd" *ngIf = "guard">
    <form [formGroup]="guardForm">
        <div id="namefield">
            <h3>username</h3>
            <mat-form-field appearance="outline" >
                <input id="username"
                    matInput
                    formControlName="username"
                    
                    placeholder="Enter your name" #message required >
            </mat-form-field>
            <div *ngIf="formAltaControls.username.invalid && (formAltaControls.username.dirty)" class="alert alert-danger form-danger" role="alert">please fill this field</div>
            <!-- <div *ngIf="formAltaControls.username.errors.required">
                El Nom del professional es obligatori
            </div> -->
        </div>
        
        <div id="passwordfield">
            <h3>password</h3>
            <mat-form-field appearance="outline"> 
                <input id="password"
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                    
                    placeholder="password" required >
                    
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <div *ngIf="formAltaControls.password.invalid && (formAltaControls.password.dirty)" class="alert alert-danger form-danger" role="alert">please fill this field</div>
        </div>
        <button mat-raised-button id="login-btn" (click)="onSubmit();" style="background: chartreuse;">Login</button>
    </form>
</div>
<div class="admin" *ngIf = "!guard">
    <h2>Administration</h2>
    <mat-tab-group mat-stretch-tabs  color="primary" [backgroundColor]="tab_color" >
        <mat-tab label="COURSE DETAILS" > 
            <table id="course">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>TEACHER ID</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = " let mydata of data[0]">
                    <td>{{mydata.CourseId}}</td>
                    <td>{{mydata.CourseName}}</td>
                    <td>{{mydata.TeacherId}}</td>
                    
                </tr>
            </tbody>
        </table></mat-tab>
        <mat-tab label="STUDENT DETAILS">
            <table id="course">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Enrolled Courses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = " let mydata of student[0]">
                        <td>{{mydata.StudentId}}</td>
                        <td>{{mydata.Firstname}}&nbsp;{{mydata.Lastname}}</td>
                        <td>{{mydata.Contact}}</td>
                        <td>{{mydata.Enrolledcourses}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="TEACHER DETAILS">
            <table id="course">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>Contact</th>
                    <th>COURSES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = " let mydata3 of teacher[0]">
                    <td>{{mydata3.TeacherId}}</td>
                    <td>{{mydata3.TeacherName}}</td>
                    <td>{{mydata3.Contact}}</td>
                    <td>{{mydata3.courses}}</td>
                </tr>
            </tbody>
        </table></mat-tab>
      </mat-tab-group>
</div>
