
<div class="signfrm">
    
    <h1 style="color: rgb(174, 192, 11);" #head1>TEACHER REGISTRATION</h1>
    
    <form [formGroup]="SignFormTeach" >
        <div id="namefield">
            <h3>ENTER YOUR NAME</h3>
            <mat-form-field appearance="legacy">
                <input id="name1"
                    matInput
                    formControlName="name1"
                    
                    required >
                    <mat-placeholder class="placeholder">First Name</mat-placeholder>  
            </mat-form-field>
            <mat-form-field appearance="legacy" >
                <input id="name2"
                    matInput
                    formControlName="name2"
                   
                    required >
                    <mat-placeholder class="placeholder">Last name</mat-placeholder>  
            </mat-form-field>
            
         </div>
         <mat-divider style="width: 40%;"></mat-divider><br>
        <div id="contactfield">
            <h3>EMAIL ADDRESS</h3>
            <mat-form-field appearance="legacy" >
                <input id="contact"
                    matInput
                    formControlName="contact"
                    
                    required >
                    <mat-placeholder class="placeholder">Enter your email</mat-placeholder>  
            </mat-form-field>
            
        </div>
        <mat-divider style="width: 40%;"></mat-divider><br>
        
        <div id="addressfield">
            <h3>Home Address</h3>
            <mat-form-field appearance="legacy" >
                <input id="address1"
                    matInput
                    formControlName="address1"
                
                    required >
                    <mat-placeholder class="placeholder">AddressLine1</mat-placeholder>  
            </mat-form-field>
            <mat-form-field appearance="legacy" >
                <input id="address2"
                    matInput
                    formControlName="address2"
                   
                    required >
                    <mat-placeholder class="placeholder">AddressLine2</mat-placeholder>  
            </mat-form-field>
            
        </div>
         
        <div id="datefield">
            <h3>Enter your Birth date</h3>
            <mat-form-field appearance="legacy">
                <mat-placeholder class="placeholder">Birthday</mat-placeholder>  
              <input matInput [matDatepicker]="dp3" disabled (dateChange)="dateFormat($event.value,'dp3')">
              <mat-datepicker-toggle matSuffix [for]="dp3" ></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-divider style="width: 40%;"></mat-divider><br>
        <h3>Gender</h3>
        <div class="custom-control custom-radio" >
            <input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender">
            <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
        <input id="female" type="radio" class="custom-control-input" value="female" name="gender" formControlName="gender">
        <label class="custom-control-label" for="female">Female</label>
        </div>
          <br>
         
          <mat-divider style="width: 40%;"></mat-divider><br>
        <div id="bodyfield">
            <h3>Describe your qualifications & course you wish to conduct</h3>
            <mat-form-field appearance="legacy" color="white" style="height: 40%; width: 90%;">
                <textarea matInput
                    id="descript"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    formControlName="descript"
                    cdkAutosizeMaxRows="10">
                </textarea>
            </mat-form-field>
            
         
        </div>
        <div id="passwordfield">
            <h3>Create Password</h3>
            <mat-form-field appearance="legacy"> 
                <input id="password"
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                   
                    required >
                    <mat-placeholder class="placeholder">password</mat-placeholder>  
                    
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
        </div>
        <mat-divider style="width: 40%;"></mat-divider>
        <div id="re-passwordfield">
            <h3>Confirm password</h3>
            <mat-form-field appearance="legacy"> 
                <input id="repassword"
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="repassword"
                    
                    required >
                    <mat-placeholder class="placeholder">confirm password</mat-placeholder>  
                    
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
        </div>
        
        <button (click)="onSubmit()" mat-raised-button  style="background: rgb(182, 17, 113); color: blanchedalmond;border: 2PX solid #c7ca0f;">REGISTER</button> 
    </form>
</div>