.loginfrm{
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    padding: 2%;
    background-color: rgb(51, 136, 206);
    h2{
        margin-left: 30%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
#login-btn{
    margin: 2%;
}
form{
    margin-left: 30%;
}