.slider{
    margin-top: 10%;
}
.nav1{
    background: rgb(6, 56, 163);
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 1%;

    overflow: scroll;
    .head{
        height: 40px;
        
        button{
            width: 200px;
            background: rgb(180, 7, 102);
            color: ivory;
        }
        span{
            padding: 5%;
            color: bisque;
        }
    }
    .content{
        padding-bottom: 3%;
        display: flex;
        background-image: url(../../../assets/img/23.jpg);
        padding-top: 5%;
        background-size: fill;
        
        .course-list{
            display: inline-flex;
            margin: 3px;
            float: left;
            button{
                width: 200px;
                background: rgb(182, 52, 123);
                color: rgb(21, 197, 188);
                font-size: 20px;
            }
            button:hover{
                
                background: rgb(182, 52, 123);
                color: rgb(189, 189, 11);
                
            }
        }
        .about{
            float: right;
            margin-left: 5%;
            color: rgb(226, 194, 64);
            margin-right: 5%;
        }
        
    }
}
// #course-list-id{
//     display: none;
// }
.close{
    display: none;
}
// .open{
//     display: block;
// }