.mycourses{
    margin-top: 20%;
    margin-left: 10%;
}

.announcement{
    width: 40%;
    height: 20%;
    position: absolute;
    float: right;
    background: tomato;
    right: 3%;
    top: 15%;
    margin: 5%;
    padding: 5px;
    border: 1px solid rgb(155, 13, 13);
    padding-left: 8px;
}